<!doctype html>
<html>
	<head>
		<title>rm-demo: admin</title>
		<link rel="stylesheet" type="text/css" href="/components/foundation/css/normalize.css">
		<link rel="stylesheet" type="text/css" href="/components/foundation/css/foundation.css">
		<link rel="stylesheet" type="text/css" href="/css/style.css">
	</head>
	<body>

		<div class="header">
			<div class="row">
				<div class="small-12 columns">
			    <h1>rm-demo</h1>
				</div>
			</div>
		</div>

		<script type="text/x-handlebars" data-template-name="index">

			<div class="content row">
				<div class="small-12 columns">

					\{{#each}}
						<div class="form">
						  <h2>\{{name}}</h2>
							<ul>
							  <li>Name: \{{name}}</li>
								<li>formID: \{{_id}}</li>
							</ul>
							<h4>Responses</h4>
							<table>
							  <thead>
								  <th>Time Responded</th>
									<th>Response ID</th>
									<th>Message ID</th>
									<th>Recipient ID</th>
									<th>Recipient Email</th>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
					\{{/each}}

				</div>
			</div>

		</script>

	  <script src="/components/jquery/dist/jquery.min.js"></script>
		<script src="/components/handlebars/handlebars.min.js"></script>
		<script src="/components/ember/ember.js"></script>
		<script src="/components/ember-data/ember-data.js"></script>
		<script src="/components/foundation/js/foundation.min.js"></script>
		<script src="/js/app.js"></script>
		<script src="/js/router.js"></script>
		<script src="/js/models/form.js"></script>
	</body>
</html>
