.header {
  background: #1473bf;
}

h1 {
  color: #fff;
}

.form {
  border-bottom: 1px solid #eee;
  margin: 20px 0;
  padding: 20px 0;
}

.form:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}
